@model EntryStyle

@{
    ViewData["Title"] = "Edit";
    var value = JsonConvert.SerializeObject(Model, Formatting.Indented);
}

<h1>Edit</h1>

<h4>Entry Style: @Model.Name</h4>
<hr />
<div class="row">
    <div class="col-12">
        <form asp-action="Edit">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="Id" />
            @Html.Hidden("EntryStyleString", value, new { id = "entryStyleString" })
            <div class="col-12" style="height: 60vh;">
                <div id="editor" class="w-100 h-100">@value</div>
            </div>
            <div class="form-group col mt-2">
                <input type="submit" value="Save" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{ await Html.RenderPartialAsync("_ValidationScriptsPartial"); }
    <script src="/lib/extras/ace/ace.js" type="text/javascript" charset="utf-8"></script>
    <script>
        let editor = ace.edit("editor");
        editor.setTheme("ace/theme/monokai");
        editor.session.setMode("ace/mode/json");

        $('form').submit(function () {
            $('#entryStyleString').val(editor.getSession().getValue());
        });
    </script>
}
