@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome to the Latex References GUI</h1>
    <h3>Here you can configure your Bibliography Settings.</h3>

    <a href="/Styles/Index">Full Formats</a>
    <a href="/Formats/Index">Formats</a>
</div>
