@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome to the Latex References GUI</h1>
    <h3>Here you can configure your Bibliography Settings.</h3>
</div>

<div class="row text-center">
    <div class="col">
        <a href="/BibliographyStyles/Index">Bibliography Styles</a>
    </div>
    <div class="col">
        <a href="/EntryStyles/Index">Entry Style</a>
    </div>
</div>
