@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome to the Latex Referencing Configuration GUI</h1>
    <p>Here you can configure your Biblioraphy Settings.</p>

    <a href="/FullFormats/Index">Full Formats</a>
    <a href="/Formats/Index">Formats</a>
</div>
