@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome to the Latex References GUI</h1>
    <h3>Here you can configure your Bibliography Settings.</h3>
</div>

<div class="row text-center mt-5">
    <div class="col">
        <h3><a href="/BibliographyStyles/Index">Bibliography Styles</a></h3>
    </div>
    <div class="col">
        <h3><a href="/EntryStyles/Index">Entry Styles</a></h3>
    </div>
</div>